<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Dashboard Template for Bootstrap</title>
        <script src="angular.js"></script>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="dashboard.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
        <link href="app.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Lone Alarm</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li>
                            <a href="#">Settings</a>
                        </li>
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <a href="#">Help</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
</form>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <h1 class="page-header">Create New Account</h1>
                    <div class="form-group">
                        <form name="createForm" ng-controller="CreateAccountController" ng-submit="createForm.$valid && createAccount()" novalidate>
                            <div class="form-group">
                                <label class="control-label" for="nswfaIdField">NSWFA ID</label>
                                <input type="text" class="form-control" name="nswfaId" ng-model="nswfaId" required="" placeholder="Enter NSWFA ID Number" id="nswfaIdField"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="firstNameField">First Name</label>
                                <input type="text" class="form-control" name="firstName" ng-model="firstName" required="" id="firstNameField" placeholder="Enter First Name" ng-minlength="2"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="lastNameField">Last Name</label>
                                <input type="text" class="form-control" name="lastName" ng-model="lastName" required="" placeholder="Enter Last Name" id="lastNameField" ng-minlength="1"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="userNameField">User Name</label>
                                <input type="text" class="form-control" name="userID" ng-model="userID" required="" placeholder="Enter User Name" id="userNameField" ng-minlength="4"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="emailField">Email</label>
                                <input type="email" class="form-control" name="emailAddress" ng-model="emailAddress" required="" placeholder="Enter Email Address" id="emailField"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="passwordField">Password</label>
                                <input type="password" class="form-control" name="password" ng-model="password" required="" placeholder="Enter Password" id="passwordField" ng-minlength="8"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="confirmField">Confirm Password</label>
                                <input type="password" class="form-control" name="confirmation" ng-model="confirmation" required="" placeholder="Enter Password Again" id="confirmField" ng-minlength="8"/>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-danger" value="Cancel" ng-click="cancel()"/>
                                <input class="btn btn-primary" type="submit" value="Create Account" ng-disabled="createForm.$invalid"/>
                            </div>
                            <div class="form-group">
                                <div class=" ">
                                    <p><span ng-class="{ 'glyphicon': true, 'glyphicon-refresh glyphicon-refresh-animate': isSaving, 'glyphicon-ok': hasSaved, 'glyphicon-remove': saveError }"></span>Please wait...</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <!--<div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 sidebar">
                    <ul class="nav nav-sidebar">
                        <li class="active">
                            <a href="#">Account Settings</a>
                        </li>
                        <li>
                            <a href="#">App Settings</a>
                        </li>
                        <li>
                            <a href="#">Subscription Details</a>
                        </li>
                        <li>
                            <a href="#">Group Management</a>
                        </li>
                        <li>
                            <a href="#">Change Password</a>
                        </li>
                        <li>
                            <a href="#">Plans</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 main">
                    
                </div>
            </div>
        </div>-->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
